.slide-up-from-bottom {
    animation: 1150ms cubic-bezier(.7,-0.42,.14,.9) 0s 1 normal forwards appearFromBottom
}

@keyframes appearFromBottom {
    0% {
        transform: translateY(+100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

