.slide-up-from-bottom {
    animation: 900ms cubic-bezier(.31,.15,.09,.91) 0s 1 normal forwards appearFromBottom
}

@keyframes appearFromBottom {
    0% {
        transform: translateY(+100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

